<!-- Fixed Plugin configurator, used just for Demo Purpose -->
<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title"> Backgroud-Color</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger stroke-color">
                    <div class="badge-colors text-center">
                        <span class="badge filter badge-purple" data-color="#9c27b0"></span>
                        <span class="badge filter badge-blue" data-color="#00bcd4"></span>
                        <span class="badge filter badge-green" data-color="#4caf50"></span>
                        <span class="badge filter badge-orange" data-color="#ff9800"></span>
                        <span class="badge filter badge-red" data-color="#f44336"></span>
                        <span class="badge filter badge-white" data-color="white"></span>
                        <span class="badge filter badge-rose" data-color="#e91e63"></span>
                        <input type='color' id="stroke-color-input">
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title"> Border-Color</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger border-color">
                    <div class="badge-colors text-center">
                        <span class="badge filter badge-purple" data-color="#9c27b0"></span>
                        <span class="badge filter badge-blue" data-color="#00bcd4"></span>
                        <span class="badge filter badge-green" data-color="#4caf50"></span>
                        <span class="badge filter badge-orange" data-color="#ff9800"></span>
                        <span class="badge filter badge-red" data-color="#f44336"></span>
                        <span class="badge filter badge-white" data-color="white"></span>
                        <span class="badge filter badge-rose" data-color="#e91e63"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title"> Text-Color</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger text-color">
                    <div class="badge-colors text-center">
                        <span class="badge filter badge-purple" data-color="#9c27b0"></span>
                        <span class="badge filter badge-blue" data-color="#00bcd4"></span>
                        <span class="badge filter badge-green" data-color="#4caf50"></span>
                        <span class="badge filter badge-orange" data-color="#ff9800"></span>
                        <span class="badge filter badge-red" data-color="#f44336"></span>
                        <span class="badge filter badge-white" data-color="white"></span>
                        <span class="badge filter badge-rose" data-color="#e91e63"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <!--<li class="header-title">Sidebar Background</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger background-color">
                    <div class="text-center">
                        <span class="badge filter badge-white" data-color="white"></span>
                        <span class="badge filter badge-black" data-color="black"></span>
                        <span class="badge filter badge-red active" data-color="red"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger">
                    <p>Sidebar Mini</p>
                    <div class="togglebutton switch-sidebar-mini">
                        <label>
                            <input type="checkbox" unchecked="">
                        </label>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger">
                    <p>Sidebar Image</p>
                    <div class="togglebutton switch-sidebar-image">
                        <label>
                            <input type="checkbox" checked="">
                        </label>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">Images</li>
            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-1.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-2.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-3.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-4.jpg" alt="" />
                </a>
            </li>-->
        </ul>
    </div>
</div>
